<form action="/views/my-user/delete" method="POST">
  <input type="hidden" name="id" value="{{user.id}}" />
  <div class="form-group">
    <label for="fullName">Full name:</label>
    <input type="text" class="form-control" name="fullName" id="fullName" value="{{user.fullName}}" disabled="true" />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" id="email" value="{{user.email}}" disabled="true" />
  </div>
  <button type="submit" class="btn btn-primary">Aceptar</button>
  <a href="/views/my-user/list" class="btn btn-danger">Cancelar</a>
</form>